<%include head.ejs%>
    <main class="clear">
        <div class="mainLeft">
            <div class="listBox">
                <h1><%=info.title%></h1>
                <p class="colDefault">
                    作者：<span class="colInfo">admin</span> -
                    时间：<span class="colInfo"><%=info.pub%></span> -
                    阅读：<span class="colInfo"><%=info.views%></span> -
                    评论：<span class="colInfo"><%=info.comments.length%></span>
                </p>
                <dfn><%=info.content%></dfn>
            </div>

            <div class="listBox message">
                <h3 class="textLeft"><strong>评论</strong> <span class="em">一共有 <em id="messageCount">0</em> 条评论</span></h3>
                
                <p class="textLeft">zmouse</p>
                <p class="textLeft clear">
                    <textarea id="messageContent"></textarea><button id="messageBtn" class="submit">提交</button>
                </p>
                
                <p class="bgDanger" style="line-height: 30px;">你还没有登录，请先登录！</p>
                

                <div class="messageList">
                    <div class="messageBox"><p>还没有留言</p></div>
                </div>

                <div class="messageList" style="display: block;">
                    <div class="messageBox">
                        <p class="name clear"><span class="fl">admin</span><span class="fr">2016年07月29日 17:24:01</span></p><p>哈哈</p>
                    </div>
                    <div class="messageBox">
                        <p class="name clear"><span class="fl">admin</span><span class="fr">2016年07月29日 17:23:34</span></p><p>123123123</p>
                    </div>
                </div>

            </div>

            <div class="pager">
                <ul class="clear">
                    <li class="previous">
                        <a href="">上一页</a>
                    </li>
                    <li></li>
                    <li class="next">
                        <a href="">下一页</a>
                    </li>
                </ul>
            </div>

        </div>
        <%include right.ejs%>
    </main>
<%include foot.ejs%>