<% include header.ejs %>
<div class="container">
    <table class="table table-bordered table-striped table-hover text-center">
        <tr>
            <td>用户名</td>
            <td>密码</td>
            <td>isAdmin</td>
            <td>ID</td>
        </tr>
        <% for(var i = 0; i < Data.length; i++){ %>
        <tr>
            <td><%= Data[i].username %></td>
            <td><%= Data[i].password %></td>
            <td><%= Data[i].isAdmin %></td>
            <td><%= Data[i]._id %></td>
        </tr>
        <%}%>
    </table>
    <nav>
        <ul class="pager">
            <li class="previous"><a href="/admin/userslist?page=<%=page-1%>">上一页</a></li>
            <li>总共 <strong><%= count %></strong> 条数据 每页展示 <strong><%= limit %></strong> 条 <strong><%=page%> / <%=pages%></strong></li>
            <%if(page === pages){%>
                <li class="next"><a href="javascript:;">已经是最后一页</a></li>
            <%} else {%>
                <li class="next"><a href="/admin/userslist?page=<%=page+1%>">下一页</a></li>
            <%}%>
        </ul>
    </nav>
</div>
<% include footer.ejs %>