<% include header.ejs %>
<div class="container">
    <table class="table table-hover table-bordered text-center">
        <tr>
            <td>标题</td>
            <td>所属分类</td>
            <td>ID</td>
            <td>发布时间</td>
            <td>阅读量</td>
            <td>评论数</td>
            <td>操作</td>
        </tr>
        <%for(var i = 0; i < data.length; i++) {%>
        <tr>
            <td><%=data[i].title%></td>
            <td><%=data[i].names%></td>
            <td><%=data[i]._id%></td>
            <td><%=data[i].pub%></td>
            <td><%=data[i].views%></td>
            <td><%=data[i].comments.length%></td>
            <td class="box">
                <a type="button" class="btn" style="padding: 0; border: 0; border-radius: 0;" href="/admin/article/edit?id=<%=data[i]._id%>">修改</a> |
                <a href="/admin/article/del?id=<%=data[i]._id%>"> 删除</a>
                <input type="hidden" class="idVal" value="">
                <input type="hidden" class="oldval" value="">
            </td>
        </tr>
        <%}%>
    </table>
</div>
<% include footer.ejs %>